.lb-nav {
	display: none !important;
}
.lb-cancel {
	background-image: url('images/loading.gif');
	background-repeat: no-repeat;
}
.lb-data .lb-close {
	background-image: url('images/close.png');
	background-repeat: no-repeat;
}