.swiper-button {
	width: 60px;
	height: 101%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	margin: 0;
	background: {
		color: #fff;
		position: center;
		size: auto;
		repeat: no-repeat;
		image: none;
	}

	@media (max-width: 576px) {
		width: 50px;
	}
}

.swiper-button-prev {
	left: -7px;
	transform: rotate(180deg);
}

.swiper-button-next {
	right: -7px;
}