.page-header {
	color: #fff;
	padding-top: 35px;
	position: relative;
	z-index: 1;

	@media(max-width: 576px) {
		padding-top: 0;
	}
}

.page-header__heading {
	margin-bottom: 3px;
	padding-top: 21px;

	@media(max-width: 576px) {
		font-size: 93px;
		display: block;
		width: 100%;
		text-align: center;
	}
}

.page-header__info {
	width: 100%;
	line-height: 1;
	font-size: 40px;
	font-family: $secondary-font;
	margin-bottom: 8px;
}

.page-header__info--accent {
	color: $accent-color;
}

.page-header__text-wrap {
	width: 100%;
	@media(max-width: 576px) {
		text-align: center;
		max-width: 325px;
		margin: 0 auto 30px;
		display: flex;
	}
}

.page-menu {
	margin: 0 0 0 auto;
	padding: 15px 0 0 0;
	width: 100%;
	max-width: 165px;

	@media (max-width: 576px) {
		max-width: unset;
		padding: 15px 15px 0;
	}
}

.page-menu__logo {
	display: block;
	margin: 0 auto 8px;
}

.page-menu__list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.page-menu__logo-caption {
	font-size: 38px;
	line-height: 1;
	color: #e71e6e;
	margin-bottom: 31px;
	text-align: center;
}

.page-menu__item {
	display: block;
	background-color: $accent-color;
	text-decoration: none;
	margin-bottom: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 4px;
	line-height: 28px;
	height: 25px;
	transition: background-color 350ms ease;

	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: darken($accent-color, 20%);
	}

	@media(max-width: 576px) {
		line-height: 38px;
		height: 35px;
		margin-bottom: 14px;
	}

}