@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueRegular.woff2') format('woff2'),
	url('fonts/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeueBold.woff2') format('woff2'),
	url('fonts/BebasNeueBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('fonts/HelveticaNeueCyr-Thin.woff2') format('woff2'),
	url('fonts/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

.main-heading {
	font-family: $secondary-font;
	font-size: 100px;
	line-height: .8;
	font-weight: 400;
	letter-spacing: -0.6px;
}

.nav-item {
	font-size: 20px;
	color: #fff;
	line-height: 1.25;
	text-align: center;
}